* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 20px;
}

.header--title {
    margin: 0 auto;
}

.header--popup-button {
    border-radius: 6px;
    background-color: #056dc2;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.header--popup-title {
    text-align: center;
}

.header--popup-close-button {
    cursor: pointer;
    position: absolute;
    display: block;
}

.start-game--button {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #16CE2B;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.start-game--container {
    margin: 0 auto;
}

.start-game--form {
    display: block;
}

.start-game--label {
    text-align: center;
    font-size: 1.5rem;
}

#numOpponents {
    display: block;
    margin: 0 auto;
}

.userhand--dice-container {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userhand--title {
    text-align: center;
}

.userhand--hand {
    display: flex;
    align-items: center;
    justify-content: center;
}
